#pane {
    -fx-background-image: url("snakebluered.jpeg");
    -fx-background-repeat: stretch;   
    -fx-background-size: 900 506;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0); 
}

Button {
    -fx-min-height: 44px;
    -fx-min-width: 150px;
    -fx-background-image: url("VersusButton.png");
    -fx-background-size: 150px 44px;
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

Label {
    -fx-font-size: 40px;
}