@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

#main_menu {
    -fx-background-image: url("MainMenuBG.png");
    -fx-background-repeat: stretch;
    -fx-background-size: 900 606;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);
}

#gameOver, #highscore_scene, #highscoretable_scene {
    -fx-background-image: url("BlueBG800x6002.png");
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);
}

#gameOverLabel {
    -fx-font-family: 'Press Start 2P';
    -fx-font-size: 50px;
    -fx-text-fill: white;
    -fx-stroke: black;
    -fx-stroke-width: 1;
}

#highscore_title {
    -fx-font-family: 'Press Start 2P';
    -fx-font-size: 30px;
}

#highscoretable_headline {
    -fx-font-family: 'Press Start 2P';
    -fx-font-size: 20px;
    -fx-text-alignment: center;
}

#top_10_highscores {
    -fx-font-family: 'Press Start 2P';
    -fx-font-size: 15px;
}

#winner_label {
    -fx-font-family: 'Press Start 2P';
    -fx-font-size: 30px;
}

#highscoretable_headline {
    -fx-font-family: 'Press Start 2P';
    -fx-font-size: 20px;
    -fx-text-alignment: center;
}

#highscoretable_highscores {
    -fx-font-family: 'Press Start 2P';
    -fx-font-size: 15px;
}

#username {
    -fx-font-family: 'Press Start 2P';
    -fx-font-size: 15px;
}
#errormessage {
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-font-family: 'Helvetica';
    -fx-text-fill: red;

}

Button {
    -fx-font-family: 'Press Start 2P', cursive;
    -fx-min-height: 44px;
    -fx-min-width: 150px;
    -fx-background-image: url("VersusButton.png");
    -fx-background-size: 150px 44px;
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-font-size: 10px;
    -fx-text-alignment: center;
}
Button:hover {
    -fx-translate-y: -2;
    -fx-text-fill: #909191;

}

#redarrowbuttonleft {
    -fx-background-image: url("RedrrowButton.png");
    -fx-background-size: 40px 40px;
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
}

#redarrowbuttonright {
    -fx-background-image: url("RedrrowButton.png");
    -fx-background-size: 40px 40px;
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-scale-x: -1;
}

#bluearrowbuttonleft {
    -fx-background-image: url("BlueArrowButton.png");
    -fx-background-size: 40px 40px;
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
}

#bluearrowbuttonright {
    -fx-background-image: url("BlueArrowButton.png");
    -fx-background-size: 40px 40px;
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-scale-x: -1;
}