@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

#main_menu {
    -fx-background-image: url("MainMenuBG.png");
    -fx-font-family: 'Press Start 2P';
    -fx-background-repeat: stretch;
    -fx-background-size: 800 600;
    -fx-background-position: center center;

}

#gameOver, #highscore_scene, #highscoretable_scene, #leveleditor {
    -fx-background-image: url("BlueBG800x6002.png");
    -fx-font-family: 'Press Start 2P';
    -fx-background-position: center center;
}

#gameOverLabel {
    -fx-font-size: 50px;
    -fx-text-fill: white;
    -fx-stroke: black;
    -fx-stroke-width: 1;
}

#highscore_title, #winner_label {
    -fx-font-size: 30px;
}

#highscoretable_headline {
    -fx-font-size: 20px;
    -fx-text-alignment: center;
}

#top_10_highscores, #highscoretable_highscores, #username, #skinlabel {
    -fx-font-size: 15px;
}

#highscoretable_headline {
    -fx-font-size: 20px;
    -fx-text-alignment: center;
}

#skinlabel {
    -fx-text-fill: #ffffff;
    -fx-text-alignment: center;
}

#errormessage {
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-font-family: 'Helvetica';
    -fx-text-fill: red;

}

Button {
    -fx-min-height: 44px;
    -fx-min-width: 150px;
    -fx-background-image: url("VersusButton.png");
    -fx-background-size: 150px 44px;
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-font-size: 10px;
    -fx-text-alignment: center;
}

Button:hover {
    -fx-translate-y: -2;
}

Button:pressed {
    -fx-translate-y: 3;
}

#invisible {
    -fx-background-color: transparent;
    -fx-background-image: null;
    -fx-text-fill: null;
    -fx-min-height: 50px;
    -fx-min-width: 50px;
}

#infobutton {
    -fx-background-image: url("infobutton.png");
    -fx-min-height: 45px;
    -fx-min-width: 45px;
    -fx-background-size: 45;
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-translate-y: -170;
}

#infobutton:hover {
    -fx-translate-y: -173;
}

#infobutton:pressed {
    -fx-translate-y: -167;
}

#exitbutton, #editor_exit {
    -fx-background-image: url("exit.png");
    -fx-min-height: 50px;
    -fx-min-width: 50px;
    -fx-background-size: 50px;
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-translate-y: -250;
    -fx-translate-x: 640;
}

#exitbutton:hover {
    -fx-translate-y: -252;
}

#exitbutton:pressed {
    -fx-translate-y: -247;
}
#editor_exit {
    -fx-translate-y: -20;
    -fx-translate-x: 530;
}
#editor_exit:hover {
    -fx-translate-y: -22;
}

#editor_exit:pressed {
    -fx-translate-y: -17;
}

TextField {
    -fx-min-width: 400px;
    -fx-max-width: 400px;
}
#bluewormhat {
    -fx-scale-x: -1;
}

#orangearrowbuttonleft, #orangearrowbuttonright, #redarrowbuttonleft, #redarrowbuttonright, #bluearrowbuttonleft, #bluearrowbuttonright {
    -fx-min-height: 40px;
    -fx-min-width: 40px;
    -fx-background-size: 40px 40px;
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
}

#orangearrowbuttonleft, #orangearrowbuttonright {
    -fx-background-image: url("OrangeArrowButton.png");
}

#orangearrowbuttonright {
    -fx-scale-x: -1;
}

#redarrowbuttonleft, #redarrowbuttonright {
    -fx-background-image: url("RedrrowButton.png");
}

#redarrowbuttonright {
    -fx-scale-x: -1;
}

#bluearrowbuttonleft, #bluearrowbuttonright {
    -fx-background-image: url("BlueArrowButton.png");
}

#bluearrowbuttonright {
    -fx-scale-x: -1;
}